body {
  display: grid;
  grid-template-rows: auto auto;  /*Adjust depending on the number of sections */
  background-color: #f8f7f5;
  font-family: 'Alfabet', 'Inter', sans-serif;
  font-weight: 400;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

.hidden {
  opacity: 0;
  transform: translateX(-8%);
  transition: all 1s;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
