.header,
.portfolio-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  color: rgb(79, 79, 78);
  height: 80px;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 0px;
  margin-bottom: 80px;
}

.home-name {
  font-weight: 600;
}

.about-header-text {
  font-weight: 600;
  padding-left: 1px;
  padding-right: 1px;
  box-sizing: border-box;
  border: 2.5px solid transparent;
  transition: all .2s;

}

.about-header-text:hover {
  border-bottom: 2.5px solid rgb(255, 203, 106);

}

.portfolio-links {
  width: 120px;
  justify-content: right;
}

a {
  color: inherit;
  text-decoration: none;
}

