.landing-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0px;
  padding-left: 6%;
  padding-right: 6%;
}

.intro-container {

  color: rgba(45, 35, 46, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.intro-text {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 80px;
  font-weight: 400;
  pointer-events: none;
}

.intro-description {
  margin: 0;
  font-size: 36px;
}

@media (max-width:500px) {
  .intro-text {
    font-size: 40px;
  }

  .intro-description {
    font-size: 18px;
  }
}

.profile-container {
  display: flex;
  justify-content: flex-end;
}

.profile-photo {
  height: 400px;
}

.landing-section {
  padding-bottom: 100px;
}

.about-section {
  background-color: rgba(45, 35, 46, 1);
  color: rgba(248, 247, 245, 1);
  padding-left: 6%;
  padding-right: 6%;

  padding-bottom: 200px;
  padding-top: 14px;
}

.waves {
  background-color: #f6f2ed;
  width: 100%;
  margin-bottom: -10px;
}

.about-grid {
  display: grid;
  gap: 5%;
  grid-template-columns: 2fr 1fr;
}

.about-me {
  font-size: 48px;

  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;

  margin: 0;

}

.about-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 40px;
}


@media (max-width:500px) {
  .about-me {
    font-size: 2
    4px;
  }
  .about-description {
    font-size: 16px;
  }

  .about-grid {
    grid-template-columns: 1fr;
  }
}

.top-button {
  background-color: transparent;
  color: rgb(139, 139, 138);
  border-style: solid;
  border-color: rgb(143, 142, 140);
  border-radius: 20px;

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;

  cursor:pointer;

}

.face-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.face-photo {
  border-radius: 5%;
  object-fit: cover;
  width: 80%;
}


