.nav,
.portfolio-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  font-size: 1.2rem;
  font-weight: 600;
  align-items: center;
  height: 80px;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 0px;
  
  color: rgb(90, 92, 90);
}


.about-header-text {
  border: none;
  box-sizing: border-box;
  border-bottom: 2.5px solid transparent;
  transition: border-color .2s;
}

.home-name {
  border: none;
  box-sizing: border-box;
  border-bottom: 2.5px solid transparent;
}

.about-header-text:hover {
  border-bottom: 2.5px solid #4c8863;

}

a {
  color: inherit;
  text-decoration: none;
}

