.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Alfabet', 'Inter', sans-serif;

  font-size: 1.2rem;
  font-weight: 600;
  align-items: center;
  height: 80px;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 0px;
  
  color: rgb(90, 92, 90);
}

.home-name {
  border: none;
  box-sizing: border-box;
  border-bottom: 2.5px solid transparent;
}

.logo-text {
  font-family: 'Alfabet', 'Inter', sans-serif;
  border-bottom: 2.5px solid transparent;
  transition: all .2s;
}

.logo-text:hover {
  border-bottom: 2.5px solid #4c8863;
}

.nav-link {
  border: none;
  box-sizing: border-box;
  border-bottom: 2.5px solid transparent;
  transition: border-color .2s;
}

.nav-link:hover {
  border-bottom: 2.5px solid #4c8863;
}

.nav-link-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

