.image-frame {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem .5rem 1rem;
  border-radius: .5rem;

  background-color: #ecf0f5;
}

.image-frame img {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.096);
}
.image-frame p {
  margin-top: 0.5rem;
  font-size: .8rem;
  font-weight: 500;
}