* {
  margin: 0px;
}

h5 {
  color: rgb(53, 53, 53);
  font-weight: 500;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
  font-weight: 400;
  margin: 0;
  margin-bottom: 100px;
  background-color: #f8f7f5;
}

ul, 
p {
  color: rgb(77, 77, 77);
  font-size: .9rem;
  line-height: 140%;
  margin: 0px;
}

.full-width-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-grid {
  display: grid;
  max-width: 850px;
  padding: 0 40px;
  gap: 1rem;

  justify-items: center;
  align-items: center;
  justify-content: center;
}


.project-title {
  font-size: 36px;
  font-weight: 800;
}

.metadata {
  font-weight: 500;
}

.attribute-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  column-gap: 5px;
  row-gap: 4px;
}

.attribute-box {
  font-weight: 400;
  font-size: .8rem;

  padding: 4px 10px;
  border-radius: 5px;
  
  color: rgb(255, 255, 255);
  background-color: rgb(78, 113, 194);

  text-wrap: nowrap;
  white-space: nowrap;
}

.project-description-container {
  line-height: 140%;
  display: flex;
  flex-direction: column;
}

.media-container {
  position: relative;
  display: flex;
  border-radius: 10px;
  width: 400px;
  
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 5px;
}

.image-frame {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: .5rem;

  background-color: #ecf0f5;
}

.image-frame img {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.096);
}

.image-frame p {
  margin-top: 1rem;
  font-size: .8rem;
  font-weight: 500;
}

.wide-img {
  margin: 1rem -5rem;
}

.image-row {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.image-row img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  min-width: 0;
}
