.media-container {
  background-color: rgb(222, 222, 222);
  height: 400px;
  padding: 20px 0px;
}

h3 {
  margin: 0px;
}

.main-img{
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vid-background {
  width: 45vw; /* Slightly larger than the viewport */
  overflow: hidden;
  padding-top: 10px;
  background-color: #f8f7f5;

}