.thumbnail-grid {
  /* FAF7F0 */ 
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  
  padding-top: 48px;
}

@media (max-width:950px) {
  .thumbnail-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:500px) {
  .thumbnail-grid {
    grid-template-columns: 1fr;
  }
}

.thumnail-grid-column {
  display: flex;
  flex-direction:column;
  gap: 20px;
}

.spotify-project-preview,
.t-project-preview,
.leave-project-preview,
.kino-project-preview,
.record-project-preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(210, 210, 194);
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;

  transition: all .2s ease;
}

.spotify-project-preview:hover,
.t-project-preview:hover,
.leave-project-preview:hover,
.kino-project-preview:hover,
.record-project-preview:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
}

.spotify-project-preview img,
.t-project-preview img,
.leave-project-preview img,
.kino-project-preview img,
.record-project-preview img {
  max-width: 100%;            /* Image will not exceed container width */
  max-height: 100%;           /* Image will not exceed container height */
  width: auto;                /* Control the width based on content */
  height: 300px;               /* Maintain aspect ratio */
  object-fit: contain;        /* Ensure the image fits within the container */
}

.spotify-project-preview {
  background-color: rgb(235, 226, 216);
}

.leave-project-preview {
  background-color: rgb(146, 167, 132);
  padding-left: 10%;
  padding-right: 10%;
}

.record-project-preview {
  background-color: rgb(208, 206, 214);
}

.t-project-preview {
  background-color: rgb(236, 232, 231);
  padding: 10%;
}

.preview-description {
  color: #454545;
  font-size: 14px;
  margin: 0px;
  margin-top: -10px;
}
