.portfolio-section {
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 48px;
  margin-bottom: 8rem;
}

h3 {
  color: rgb(27, 27, 27);
}

.thumbnail-grid {
  /* FAF7F0 */ 
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 4rem;
}

@media (max-width:950px) {
  .thumbnail-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:500px) {
  .thumbnail-grid {
    grid-template-columns: 1fr;
  }
}

.thumnail-grid-column {
  display: flex;
  flex-direction:column;
  gap: 20px;
}

.generic-project-preview {
  aspect-ratio: 7 / 8;  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgb(210, 210, 194);
  width: 100%;
  border-radius: 2%;
  box-sizing: border-box;
  
  cursor: pointer;
  overflow: hidden;
  flex-grow: 1;
}

.generic-project-preview img {
  max-width: 100%;            
  max-height: 100%;
  width: 100%;               
  height: 100%;              
  object-fit: cover;       
  overflow: hidden;
  
  transition: all 0.4s ease-out;
  flex-grow: 1;

}

.generic-project-preview img {
  border-radius: inherit; /* match the container's radius */
}

.generic-project-preview img:hover {
  transform: scale(1.05);
  /* box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.12); */
}

.spotify-project-preview {
  background-color: rgb(235, 226, 216);
}

.leave-project-preview {
  background-color: rgb(146, 167, 132);
}

.record-project-preview {
  background-color: rgb(208, 206, 214);
}

.t-project-preview {
  background-color: rgb(236, 232, 231);
  padding: 10%;
}

.mfaforms-project-preview {
  margin-top: 0px;
}

.editorial-project-preview {
  aspect-ratio: 4 / 3;  
}

.preview-description {
  color: #454545;
  font-size: 1rem;
  margin: 0px;
  margin-top: -8px;
}

